#search-bar{

    background-color: #E3EEFF;
}

#category{

    background-color: #F5F5F5;
    /* background-color: aqua; */
}

#dropdown{

    background-color: #F5F5F5;

}

@media(max-width:992px){

    #search-desktop{

        display: none !important;
    }

    #drop-menu-desktop{

        display: none !important;
    }

    .blog{

        margin-bottom: 1rem !important;
    }
}

@media(min-width:992px){

    #mobile-search-drop{

        display: none !important;
    }
}