.container-type td{
    font-size: 16px;
    line-height: 28px;
}

.container-type .content{
    overflow:hidden;
}

.container-type .box{
    border-radius: 32px;
    padding:0 16px
}
.container-type .box .img{
    background: linear-gradient(311.47deg, #8D8C8A 10%, #FFFFFF 97.76%);
    /* background: linear-gradient(311.47deg, #8D8C8A 100%, #FFFFFF 100%); */
    border-radius:32px 32px 0 0;
    padding:32px;
    height:300px;
    display:flex;
    align-items:center
}

.container-type .box .img img{
    width: 100%;
    height: 230px;
    object-fit:contain
}

.container-type .box .detail{
    padding: 32px;
    background-color: #F6FAFF;
    height: 575.2px;
}

.container-type .box .detail .name{
    margin-top:-80px;
    padding: 16px 0px 16px 0px;
    border-radius: 16px;
    border: 1px solid #FFFFFF;
    gap: 10px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(30px);
    border: 1px solid #FFFFFF;
}

#freight-1-mobile{

    background: #F6FAFF;
}

#freight-4-mobile{

    background: #F6FAFF;
}

.slick-prev{

    left: 17px;
}

.slick-next{

    right: 17px;
}

.slick-prev, .slick-next{

    z-index: 2;
    top: 35%;
    width: 55px;
    height: 55px;
}

.slick-prev::before, .slick-next::before {
    
    color: #002D71; 
    font-size: 50px;
}

@media(max-width: 1024px){
    
    #freight-1-desktop{

        display: none !important;
    }

    #freight-2-desktop{

        display: none !important;
    }

    #freight-4-desktop{

        display: none !important;
    }
}

@media(min-width:  1025px){

    #freight-1-mobile{

        display: none !important;
    }

    #freight-2-mobile{

        display: none !important;
    }

    #freight-4-mobile{

        display: none !important;
    }
}