#map { height: 500px; }

#inter-name{

    /* background-color: #F5F5F5; */
    background-color: #bababa;
    color: #002D71;
    padding: 15px
}

@media(max-width:992px){

    li{

        font-size: 14px !important;
    }

    .fs-5{

        font-size: 16px !important;
    }

    .accordion-item{

        margin-bottom: 1rem !important;
    }

    #international-desktop{

        display: none !important;
    }
}

@media(min-width:992px){

    #international-mobile{

        display: none !important;
    }
}